<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer Results</h1>
    <h3><%=@pig.piglatin%></h3>
    <h2>Pig Latinizer!</h2>
    </form>
  </body>
</html>